<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <p>Welcome {{email}},</p>

    <p>
      We are excited to welcome you to {{project_name}}. To complete your
      registration, please click on the link provided below:
    </p>

    <p>
      <a href="{{link}}">Click here to very your account</a>
    </p>

    <p>
      If you have any questions or concerns regarding your registration, please
      do not hesitate to contact our support team.
    </p>
  </body>
</html>
