<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>
  <body>
    <h3>Hi, {{email}}</h3>

    <p>We received a request to reset your password.</p>

    <p>
      If you did not make the request, please ignore this message otherwise
      click on the link below to reset your password
    </p>

    <p>
      <a href="{{link}}">Reset password</a>
    </p>
  </body>
</html>
